@import url("https://fonts.googleapis.com/css?family=Special+Gothic+Expanded+One:400|Special+Gothic:400");

:root {
  color-scheme: light dark;

  --bg: #02010a;
  --bg-s: #151322;
  --txt: #fff;
  --txt-m: #8b8b8b;
  --acc-p: #3f37c9;
  --border: #686a78;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  background: var(--bg);
  color: var(--txt);
  font-family: "Special Gothic";
  overflow-x: hidden;
}

#app {
}

h1,
h2,
h3,
h4,
h5,
big {
  font-family: "Special Gothic Expanded One";
  font-weight: 700;
}

h1 {
  font-size: 4rem;
  /* 67.36px */
  line-height: 4.5rem;
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
  line-height: 2.5rem;
}

big {
  font-size: 6rem;
}

small {
  font-size: 0.75rem;
  /* 12px */
}

a,
button {
  all: unset;
  cursor: pointer;
}

a:hover {
  filter: brightness(1.5);
}

button,
p,
a {
  font-size: 0.95rem;
  line-height: 1.5rem;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

svg {
  fill: var(--txt);
  height: 1.25lh;
  width: 1.25lh;
}

svg.primary {
  fill: var(--acc-p);
}

hr {
  border: 1px solid var(--border);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input {
  background: var(--acc-s);
  color: var(--txt);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
}

pre {
  font-size: 0.9rem;
  line-height: 1.25rem;
}

grid {
  z-index: -1;
  height: 100%;
  width: 80vw;
  position: absolute;
  background-size: 19.99vw 20vw;
  background-image: linear-gradient(to right,
      var(--border) 1px,
      transparent 1px),
    linear-gradient(to bottom, var(--border) 1px, transparent 1px);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.5) 20%, transparent 70%);
}

nav,
section {
  margin: 0 20% 0 20%;
}

/* nav */

nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0 1.5rem 0;
}

nav > div:nth-child(2) {
  gap: 2rem;
}

nav > div:nth-child(3) {
  justify-content: right;
}

.pfp {
  height: 1.5lh;
  width: 1.5lh;
  border-radius: 50%;
}

footer {
  align-self: center;
  justify-self: center;
  padding: 2rem 0 2rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6rem 0 8rem 0;
  background: conic-gradient(var(--acc-p) 20%, var(--bg) 50%);
  border-radius: 0 0.5rem 0.5rem 0;
}

.hero > div {
  padding: 8%;
}


/* showcase section */

.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fill, 31.9%);
  padding: 8rem 0 8rem 0;
  gap: 2rem;
  flex-wrap: wrap;
}

.showcase > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.showcase > div:nth-child(1) {
  flex: 50%;
}

/* about section */
.about {
  display: flex;
  flex-wrap: wrap;
}

.about > div {
  flex: 49%;
}

.about > div:nth-child(2) {
  padding: 8%;
}

.code-box {
  background: var(--bg-s);
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 5%;
}

/* button */

button {
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 0.5rem;
}

/* general styles */

.primary {
  background: var(--acc-p);
  color: var(--txt);
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.gp-1 {
  gap: 1rem;
}

.gp-2 {
  gap: 2rem;
}

.gp-3 {
  gap: 3rem;
}

.muted {
  color: var(--txt-m);
}

.stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--txt);
  color: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #02010a;
    --txt: #fff;
    --acc-p: #3f37c9;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f0fff1;
    --txt:  #050508;
    --acc-p: #3f37c9;
  }
}